* {
  box-sizing: border-box;
  font-family: Josefin Sans, sans-serif;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  margin-right: 15px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login input {
  height: 30px;
  border-radius: 3px;
}

#form-container {
  display: flex;
  justify-content: center;
}

#form-container #evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  font-weight: 500;
  margin-top: 35px;
}

#main-info {
  display: flex;
  flex-flow: row wrap;
}

#main-info input {
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
  height: 25px;
}

#main-info select {
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  font-size: 0.9em;
}

#main-info #fullName {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-info #infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#second-info {
  display: flex;
  flex-direction: row;
}


#second-info #family {
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#second-info #family #family-options {
  margin: 5px;
  width: 30%;
  display: inline-block;
  flex-flow: column wrap;
  justify-content: center;
}

#learn-interessing {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#learn-interessing #learn-options {
  max-height: 80px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#rate {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#coments-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#counter {
  color: grey;
  text-align: end;
}

.agreements {
  display: flex;
}

#submit-btn {
  width: 60px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#trybewarts-forms-logo:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  background-color: rgba(92, 0, 92, 0.342);
}
