body {
        background-color: rgb(253, 251, 251);
        font-family: 'Arvo', sans-serif;
}

#cabecalho {
        position: fixed;
        top: 0;
}

#titulo {
        color: blue;
}

header nav {
        text-align: center;
}

header nav ul li {
        display: inline-block;
        list-style-type: none;
}

#minha_foto {
        border: 2px solid black;
        display: block;
        width: 250px;
}

#meu_aprendizado {
        border: 2px solid black;
        color: grey;
        font-size: 18px;
        line-height: 1.6;

}

#passagem {
        border: 3px solid black;
        display: inline-block;
        width: 300px;
}

.lado-esquerdo {
        display: inline-block;
        width: 60%;
}

.lado-direito {
        display: inline-block;
        font-style: normal;
        margin-left: 15px;
        width: 20%;
}

article {
    display: inline-block;
    width: 800px;
}

section {
        border: 3px solid red;
        margin: 20px;
        padding: 5px;
}

table {
        display: inline-block;
        margin: 50px;
        width: 700px;
        font-family: 'Georgia', sans-serif;
}

table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}

th, td {
        padding: 15px;
}
