.content {
    padding: 15px;
}

/* form {
    border: 2px solid grey;
    border-radius: 15px;
    
} */

#personal-data fieldset {
    border-radius: 15px;
}

#personal-data div {
    display: block
    ;
}

.content input[type = text] {
   width: 250px;
}

#user-state  {
    width: 100px;
}

.btn {
    display: inline;
    margin: 15px;
    text-align: center;
}